
.nav-li {
    display: flex;
}

.nav-li > li  {
    padding: 10px;
    list-style-type: none;
    font: 24px;
}

.res-logo {
    width: 100px;
    height:100px
}

.header {
    justify-content: space-between;
    display: flex;
}